In [ ]:
import pandas as pd
# pathlib 是 Python 內建（從 Python 3.4 開始有）的模組，專門用來操作檔案與資料夾路徑的工具。
# 用物件導向的方式來表示與操作路徑。
from pathlib import Path

In [10]:
file_path = r"C:\Users\qj860\Desktop\專題\爬蟲資料\TDCS_M03A_20250715_000000.csv"
# 由於原資料內並沒有設定欄位，以下欄位名稱為高公局定義的欄位名稱
cols = ['TimeStamp', 'GantryID', 'Direction', 'VehicleType', 'Volume']
# header=None 是告訴 pandas 此表格沒有欄位名稱，不要把第一列當欄位名稱
df = pd.read_csv(file_path,  header=None, names=cols)

In [ ]:
df

             TimeStamp  GantryID Direction  VehicleType  Volume
0     2025-07-15 00:00  01F0005N         N           31      32
1     2025-07-15 00:00  01F0005N         N           32      11
2     2025-07-15 00:00  01F0005N         N           41       2
3     2025-07-15 00:00  01F0005N         N           42       1
4     2025-07-15 00:00  01F0005N         N            5       0
...                ...       ...       ...          ...     ...
1690  2025-07-15 00:00  05FR143N         N           31       1
1691  2025-07-15 00:00  05FR143N         N           32       0
1692  2025-07-15 00:00  05FR143N         N           41       0
1693  2025-07-15 00:00  05FR143N         N           42       1
1694  2025-07-15 00:00  05FR143N         N            5       0

[1695 rows x 5 columns]

In [23]:
# Direction N -> 北向(宜蘭往頭城)的車子
# df[條件篩選]
northbound_cars = df[df['Direction'] == 'N']
print(northbound_cars)

             TimeStamp  GantryID Direction  VehicleType  Volume
0     2025-07-15 00:00  01F0005N         N           31      32
1     2025-07-15 00:00  01F0005N         N           32      11
2     2025-07-15 00:00  01F0005N         N           41       2
3     2025-07-15 00:00  01F0005N         N           42       1
4     2025-07-15 00:00  01F0005N         N            5       0
...                ...       ...       ...          ...     ...
1690  2025-07-15 00:00  05FR143N         N           31       1
1691  2025-07-15 00:00  05FR143N         N           32       0
1692  2025-07-15 00:00  05FR143N         N           41       0
1693  2025-07-15 00:00  05FR143N         N           42       1
1694  2025-07-15 00:00  05FR143N         N            5       0

[840 rows x 5 columns]

In [ ]:
# 僅將 GantryID 分組後，加總 Volume
# Gantry_Volume = df.groupby('GantryID')['Volume'].sum().reset_index()

In [ ]:
# 使用 groupby 將不同門架的資料分組

# .agg -> 對分組後的資料，針對不同欄位進行彙總/統計運算，語法如下
# df.groupby('欄位').agg({
#     '欄位1': '運算方法1',
#     '欄位2': '運算方法2',
#     ...
# })

# .rese_index() -> 彙總/計算後的資料建一個新的index
# 沒使用的話 groupby 所分組的欄位會變成 index，會影響後續資料的操作
Gantry_Volume = northbound_cars.groupby('GantryID').agg({
    'Volume':'sum',
    'Direction': 'first'  
}).reset_index()

In [29]:
print(Gantry_Volume)

     GantryID  Volume Direction
0    01F0005N      46         N
1    01F0017N      43         N
2    01F0029N      48         N
3    01F0061N      57         N
4    01F0099N      76         N
..        ...     ...       ...
163  05F0287N      26         N
164  05F0309N      16         N
165  05F0438N      16         N
166  05F0528N      14         N
167  05FR143N       2         N

[168 rows x 3 columns]